<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../../partials/head'); %>
    <title><%= classId %>の中にあるボード | <%= process.env.ServiceName %></title>
    <script src="/js/boardShow.js"></script>
    <script>
        const classId = "<%= classId %>";
        const boardId = "<%= boardId %>";
    </script>
</head>
<body>
    <header>
        <%- include('../../partials/header'); %>
    </header>
    <main class="container">
        <h1>ボード閲覧</h1>
        <hr class="my-4">
        <p id="errorMsg" style="color: red;"></p>
        <div class="p-2 mb-4 bg-light rounded-3">
            <div class="container-fluid py-1">
                <h2 class="fw-bold" id="authorName"></h2>
                <p class="col-md-8 fs-4" id="content"></p>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" id="imgList"></div>
            </div>
        </div>
        <div id="replyBox"></div>
        <div id="replyList"></div>
    </main>
    <div class="modal fade" id="lightboxModal" tabindex="-1" aria-labelledby="lightboxModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" data-bs-dismiss="modal" aria-label="Close">
            <div class="modal-content modal-content-lightbox">
                <div class="modal-body align-self-center align-items-center justify-content-center" id="lightboxModalImages"></div>
            </div>
        </div>
    </div>
<footer>
    <%- include('../../partials/footer'); %>
    <script>
        function showModal (imgUrls) {
            let imgHtml = "";
            for (const url of imgUrls) {
                imgHtml += `<img src="${url}" class="img-fluid" data-bs-dismiss="modal" aria-label="Close" width="100%" />`
            }
            $("#lightboxModalImages").html(imgHtml)
        }
    </script>
</footer>
</body>
</html>