<!DOCTYPE html>
<html lang="ja">
<head>
    <%- include('../../partials/head'); %>
    <title><%= classId %>の教員用管理パネル | <%= process.env.ServiceName %></title>
    <script src="/js/mainAdmin.min.js"></script>
    <script>
        const classId = "<%= classId %>";
    </script>
</head>
<body>
<header>
    <%- include('../../partials/header'); %>
</header>
<main class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/class/<%= classId %>"><%= classId %></a></li>
            <li class="breadcrumb-item active" aria-current="page">管理パネル</li>
        </ol>
    </nav>
    <h1><%= classId %>の教員用管理パネル</h1>
    <p>これは教員向けの管理機能です。</p>
    <hr class="my-4">
    <p id="errorMsg" style="color: red;"></p>
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">移動メニュー</h5>
            <div class="d-grid gap-2">
                <a class="btn btn-primary" href="/admin/<%=classId%>/boards">ボード管理パネルに移動</a>
                <a class="btn btn-primary" href="/admin/<%=classId%>/lesson">授業カテゴリ管理パネルに移動</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">設定</h5>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="anonymousSettingCheck">
                <label class="form-check-label" for="anonymousSettingCheck">
                    匿名モード <span id="anonymousStatus">無効</span>
                </label>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('../../partials/footer'); %>
</footer>
<script>
    isAdmin('<%= classId %>');
</script>
</body>
</html>